a > .el-button {
  margin: 12px;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .content {
    margin-inline-start: 40px;
    margin-left: 40px;
    margin-right: 40px;
} */
