.mobile-container {
    min-height: 800px;
    max-height: 800px;
    width: 420px; 
    border: 1px solid; 
    text-align: center;
    margin: auto;
    margin-top: 15px;
    background-color: white;
    color: black;
    overflow: hidden;
}

.mobile-container a, 
.mobile-container span {
    color: black;
}

body a, 
body span {
    color: white;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    color: white;
    background-color: black;
}

.title {
    height: 100% !important;
    font-size: 35px; 
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(88, 230, 175);
}

/* .content {
    margin-inline-start: 40px; 
    margin-left: 40px;
    margin-right: 40px;
} */